h1,
h2,
h3,
h4 {
  color: #000000;
}

code {
  color: #1ec3bc;
}

#MainMenu {
  display: none;
}

div[data-testid="stDecoration"] {
  display: none;
}

footer {
  display: none;
}

/* Radio buttons */

.st-cf {
  color: black;
  font-weight: 500;
}

/* Sidebar */

section[data-testid="stSidebar"] > div {
  background-color: #17408b ;
  padding-top: 2rem;
  padding-left: 1.5rem;
}

section[data-testid="stSidebar"] button[title="View fullscreen"] {
  display: none;
}

section[data-testid="stSidebar"] button[kind="icon"] {
  display: none;
}

section[data-testid="stSidebar"] .st-bk {
  background-color: #17408b;
}

section[data-testid="stSidebar"] .st-c0 {
  background-color: #17408b
}

section[data-testid="stSidebar"] hr {
  margin-top: 200px;
  border-color: white;
  width: 50px;
}

section[data-testid="stSidebar"] h2 {
  color: black;
}


/* Images */

button[title="View fullscreen"] {
  display: none;
}

/* hr */

hr {
  width: 200px;
  border-width: 5px;
  border-color: black;
  margin-top: 0px;
}

/* First Page */

section[tabindex="0"] .block-container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.st-eq:hover {
  color: #c9082a;
}


section[data-testid="stSidebar"] .st-cf{
    color:white;
    font-weight: 600;
    
}